*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
body{
    background-color:#e9997a;
}
.heading{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:20px auto;
}
.heading p{
    font-size: 50px;
    color:#000;
    margin-bottom: 25px;
    position: relative;
}